<p>

<h3 class="explanation-header">
Based on data from ONS

<%= link_to "Index", "https://geoportal.statistics.gov.uk/geoportal/catalog/content/filelist.page?&search=registration" %>
<%= link_to "File", "https://geoportal.statistics.gov.uk/Docs/Latest%20Products/Wards_(2015)_to_Registration_Districts_(2015)_to_Local_Authority_Districts_(2015)_E+W_lookup.zip" %>
</h3>
</p>


<div class="panel panel-info">
  <div class="panel-heading">Related Quote</div>
  <div class="panel-body">
  <p>
"Their existence as autonomous entities came to an end in 1930, when the relevant administrative county or county borough was made responsible. A subsequent series of reforms of local government has resulted in the <strong>responsibility today being held by the relevant county council, unitary authority, metropolitan district, or London borough.</strong>"
</p>

<p>
"Registration districts <strong>are not always co-terminous with county boundaries</strong>, and so in the past were grouped into "registration counties" for statistical purposes.""
</p>
<p>
<a href="https://en.wikipedia.org/wiki/Registration_district">Source on Wikipedia</a>
</p>
    </p>
  </div>
</div>


<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

     <ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Wards, Registration District and Local Authority Mappings", "ward_regd_la_mappings" %></li>
  <li><%= link_to "Registration District and Local Authority Mappings", "regd_la_mappings" %></li>
  <li><%= link_to "Registration Districts", "regd_mappings" %></li>
      </ul>


    </div>
    </div>
    </nav>


