<p>

<h3 class="explanation-header">
Based on data from ONS

<%= link_to "Index", "https://geoportal.statistics.gov.uk/geoportal/catalog/content/filelist.page?&search=registration" %>
<%= link_to "File", "https://geoportal.statistics.gov.uk/Docs/Latest%20Products/Wards_(2015)_to_Registration_Districts_(2015)_to_Local_Authority_Districts_(2015)_E+W_lookup.zip" %>
</h3>
</p>



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

     <ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Wards, Registration District and Local Authority Mappings", "ward_regd_la_mappings" %></li>
  <li><%= link_to "Registration District and Local Authority Mappings", "regd_la_mappings" %></li>
  <li><%= link_to "Registration Districts", "regd_mappings" %></li>
      </ul>


    </div>
    </div>
    </nav>

