<%= render "ldg_header" %>

<table class="table">
<thead>
  <tr>
    <th>#</th>
    <th><%= sortable("title", "Title") %></th>
    <th><%= sortable("town_city", "Town/City") %></th>
    <th><%= sortable("postcode", "Postcode") %></th>
    <th><%= sortable("url", "URL") %></th>
  </tr>
</thead>

<% @entries.each_with_index do |entry, index| %>
<tr>
  <td><%= index + 1 %></td>
  <td><%= entry.title %></td>
  <td><%= entry.town_city %></td>
  <td><%= entry.postcode %></td>
  <td><%= link_to nil, entry.url %></td>
</tr>
<% end %>
</table>
